<p-confirmDialog icon="fa fa-question-circle" #cd [acceptLabel]="'Sì'" [rejectLabel]="'No'">
    <footer>
        <button type="button" pButton icon="ui-icon-undo" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="ui-icon-check" label="Sì" (click)="cd.accept()"></button>
    </footer>
</p-confirmDialog>


<section class="header-coop">
    <div class="container">
        <div class="col-sm-4">
            <img src="assets/images/logo.png" class="logo">
        </div>
        <div class="col-sm-8">
            <div class="user-nav pull-right">
                <ul>
                    <li>
                        <div class="user-icon"><i data-icon="S" class="icon"></i></div>
                        Benvenuto
                        <ng-container *ngIf="utente">{{utente.nome}}</ng-container>
                    </li>
                    <li class="logout"><a class="CurHand" (click)="confirm()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="mainmenu-coop">
    <div class="container">
        <div class="menu">
            <ul>
                <li [ngClass]="{'active': active=='home'}">
                    <a routerLink="/app/home" title="Home"> <i data-icon="4" class="icon"></i>Homepage</a>
                </li>
                <li [ngClass]="{'active': active=='documenti'}">
                    <a routerLink="/app/cedolini" title="Documenti"><i data-icon="4" class="icon"></i>Documenti</a>
                </li>
                <li [ngClass]="{'active': active=='soci'}">
                    <a routerLink="/app/prestito" title="Area soci"><i data-icon="4" class="icon"></i>Soci</a>
                </li>
                <li [ngClass]="{'active': active=='comunicazioni'}">
                    <a routerLink="/app/comunicazioni-ricevute"> <i data-icon="4" class="icon"></i>Comunicazioni</a>
                </li>
                <li [ngClass]="{'active': active=='news'}">
                    <a routerLink="/app/news-social"> <i data-icon="4" class="icon"></i>News</a>
                </li>
                <li [ngClass]="{'active': active=='sondaggi'}">
                    <a routerLink="/app/sondaggi"> <i data-icon="4" class="icon"></i>Sondaggi</a>
                </li>
                <li [ngClass]="{'active': active=='a'}">
                    <a href="#contact" title="Contact"> <i data-icon="4" class="icon"></i>Cooperativa</a>
                </li>
            </ul>
        </div>
    </div>
</section>