<p-messages [(value)]="msgs" closable="false"></p-messages>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card" style="margin-bottom: 0px !important; min-height: calc(100vh - 152px)">
            <div class="ui-g">
                <div class="ui-g-12">

                    <div class="EmptyBox10"></div>
                    <div class="ui-g-12 TexAlCenter">
                        <button type="button" pButton icon="ui-icon-refresh" label="Aggiorna"
                                (click)="refresh(table)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>