<p-messages [(value)]="msgs" closable="false"></p-messages>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card" style="margin-bottom: 0px !important; min-height: calc(100vh - 152px)">
            <div class="ui-g-12">

                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Nome</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="service.search.obj.nome">
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Operation Status</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="service.search.obj.indirizzo">
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>uuid esterno</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="service.search.obj.wbs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 TexAlCenter">
                <button type="button" pButton icon="pi pi-search" label="Cerca"
                        (click)="reload(table)"></button>
            </div>
            <div class="ui-g-12">
                <p-table [value]="model" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [paginator]="true"
                         [responsive]="true" [rows]="service.search.pageSize"
                         [totalRecords]="service.listSize" [resizableColumns]="true" #table>
                    <tr>
                        <td [attr.colspan]="7">
                            Nessun risultato.
                        </td>
                    </tr>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="7">
                                Nessun risultato.
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr class="TexBold">
                            <th class="FontBold" style="background-color: aliceblue !important;">Indice
                            </th>
                            <th [pSortableColumn]="'uuid'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Uuid
                                <p-sortIcon [field]="'uuid'"></p-sortIcon>
                            </th>
                            <th pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Coordinate
                            </th>
                            <th [pSortableColumn]="'indirizzo'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Indirizzo
                                <p-sortIcon [field]="'indirizzo'"></p-sortIcon>
                            </th>
                            <th pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Wbs
                            </th>
                            <th [pSortableColumn]="'societa_uuid'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Societa
                                <p-sortIcon [field]="'societa_uuid'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'mail'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Mail
                                <p-sortIcon [field]="'mail'"></p-sortIcon>
                            </th>
                        </tr>


                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td class="RowIndex">{{ rowIndex + 1 }}</td>
                            <td>{{ rowData.uuid }}</td>
                            <td class="ui-resizable-column">{{rowData.latitudine}}
                                <br/>
                                {{rowData.longitudine}}
                            </td>
                            <td class="ui-resizable-column">{{rowData.indirizzo}}
                                <br/>
                                {{rowData.comune}}
                                <br/>
                                {{rowData.provincia}}
                                <br/>
                                {{rowData.nazione}}
                            </td>
                            <td class="ui-resizable-column">{{rowData.wbs}}
                                <br/>
                                {{rowData.cantiere}}
                                <br/>
                                {{rowData.commessa}}
                            </td>
                            <td class="ui-resizable-column">{{rowData.societa_uuid}}</td>
                            <td class="ui-resizable-column">{{rowData.mail}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="EmptyBox10"></div>
            <div class="ui-g-12">

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Societa</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.societa_uuid">
                        </div>
                    </div>
                </div>

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Mail</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.mail">
                        </div>
                    </div>
                </div>

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Latitudine</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.latitudine">
                        </div>
                    </div>
                </div>
                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Longitudine</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.longitudine">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Indirizzo</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.indirizzo">
                        </div>
                    </div>
                </div>

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Comune</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.comune">
                        </div>
                    </div>
                </div>

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Provincia</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.provincia">
                        </div>
                    </div>
                </div>
                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Nazione</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.nazione">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">


                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>WBS</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.wbs">
                        </div>
                    </div>
                </div>

                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Cantiere</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.cantiere">
                        </div>
                    </div>
                </div>
                <div class="ui-g-3 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Commessa</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.commessa">
                        </div>
                    </div>
                </div>
                <div class="ui-g-3 ui-g-nopad">
                </div>
            </div>
            <div class="ui-g-5 TexAlRight">
                <button type="button" pButton icon="pi pi-save" label="Salva"
                        (click)="save()"></button>
            </div>
            <div class="ui-g-2 TexAlCenter">

            </div>
            <div class="ui-g-5 TexAlLeft">
                <button type="button" pButton icon="pi pi-times" label="Annulla"
                        (click)="undo()"></button>
            </div>

        </div>
    </div>
</div>
