<section class="submenu-coop">
    <div class="container">
        <div class="submenu">
            <ul>
                <li class="active"><a>Profilo</a></li>
                <li><a routerLink="/app/attivita">Le tue attività</a></li>
                <li><a routerLink="/app/autorizzazioni">Autorizzazioni</a></li>
            </ul>
        </div>
    </div>
</section>

<div class="main-content-coop">
    <div class="container">

        <div class="col-sm-4">
            <h3>Le tue Attività</h3>

            <div class="summary-grey-box clearfix">
                <div class="summary-item-wrapper">
                    <div class="col-sm-4 summary-item">
                        <div data-icon="4" class="icon"></div>
                        <div class="summary-title">Likes</div>
                        <div class="summary-value">40</div>

                    </div>

                    <div class="col-sm-4 summary-item">
                        <div data-icon="4" class="icon"></div>
                        <div class="summary-title">Comunicazioni</div>
                        <div class="summary-value">5</div>
                    </div>

                    <div class="col-sm-4 summary-item">
                        <div data-icon="4" class="icon"></div>
                        <div class="summary-title">Sondaggi</div>
                        <div class="summary-value">5</div>

                    </div>
                </div>
            </div>


            <h3>Comunicazioni</h3>

            <div class="news-box-wrapper-sidebar">

                <div class="news-box-item clearfix">
                    <div class="col-sm-2 col-xs-4 no-margin">
                        <div class="circle">US</div>
                    </div>
                    <div class="col-sm-8 col-xs-8 no-margin">
                        <div class="content">
                            <span class="section">Ufficio Soci</span>
                            <h3><a href="#">Coopservice cresce in spagna</a></h3>
                            <p>Coopservice ha acquisito...</p>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 actions no-margin">
                        <span class="date">12/12/05</span>
                        <span class="star">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
                    </div>
                </div>

                <div class="news-box-item clearfix">
                    <div class="col-sm-2 col-xs-4 no-margin">
                        <div class="circle">US</div>
                    </div>
                    <div class="col-sm-8 col-xs-8 no-margin">
                        <div class="content">
                            <span class="section">Ufficio Soci</span>
                            <h3><a href="#">Coopservice cresce in spagna</a></h3>
                            <p>Coopservice ha acquisito...</p>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 actions no-margin">
                        <span class="date">12/12/05</span>
                        <span class="star active">
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
                    </div>
                </div>

                <div class="news-box-item clearfix">
                    <div class="col-sm-2 col-xs-4 no-margin">
                        <div class="circle">UP</div>
                    </div>
                    <div class="col-sm-8 col-xs-8 no-margin">
                        <div class="content">
                            <span class="section">Ufficio Personale</span>
                            <h3><a href="#">Coopservice cresce in spagna</a></h3>
                            <p>Coopservice ha acquisito...</p>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 actions no-margin">
                        <span class="date">12/12/05</span>
                        <span class="star">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-8">
            <h3>Contenuti per te</h3>
            <div class="news-box-wrapper-homepage">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="news-item">
                            <div class="image">
                                <div class="date">
                                    <div class="day">06</div>
                                    <div class="month">GIU</div>
                                    <div class="year">2016</div>
                                </div>
                                <img src="http://via.placeholder.com/500x260" class="img-responsive">
                            </div>
                            <div class="content">
                                <div class="like-button"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                                <h3><a href="#">Coopservice cresce in spagna</a></h3>
                                <p>Coopservice ha acquisito il 75% del gruppo PJC, con sede a Madrid, 25 milioni di
                                    fatturato, circa mille dipendenti e attività nei servizi di soft ...</p>
                                <div class="additional-information">
                                    <span><i data-icon="4" class="icon"></i> società, acquisizione, crescità</span>
                                    <span><i data-icon="4" class="icon"></i>likes</span> <span><i data-icon="4"
                                                                                                  class="icon"></i>230 letti</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="news-item">
                            <div class="image">
                                <div class="date">
                                    <div class="day">06</div>
                                    <div class="month">GIU</div>
                                    <div class="year">2016</div>
                                </div>

                                <img src="http://via.placeholder.com/500x260" class="img-responsive">
                            </div>
                            <div class="content">
                                <div class="like-button active"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </div>

                                <h3><a href="#">Coopservice cresce in spagna</a></h3>
                                <p>Coopservice ha acquisito il 75% del gruppo PJC, con sede a Madrid, 25 milioni di
                                    fatturato, circa mille dipendenti e attività nei servizi di soft ...</p>
                                <div class="additional-information">
                                    <span><i data-icon="4" class="icon"></i> società, acquisizione, crescità</span>
                                    <span><i data-icon="4" class="icon"></i>likes</span> <span><i data-icon="4"
                                                                                                  class="icon"></i>230 letti</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-box-homepage">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-item">
                            <div class="image">
                                <div class="content col-sm-6">
                                    <h3><a href="#">Coopservice cresce in Spagna</a></h3>
                                    <p>Coopservice ha acquisito il 75% del gruppo PJC, con sede a Madrid, 25 milioni di
                                        fatturato, circa mille dipendenti e attività nei servizi di soft facility,
                                        prevalentemente nei settori delle pulizie e della vigilanza. ...</p>
                                </div>
                                <img src="http://via.placeholder.com/1000x360" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>