<div class="ui-g ui-fluid dashboard">
    <div class="ui-g-12">
        <div class="card">
            <div class="ui-g">
                <div class="ui-g-12">
                    <span class="Fs20 Blue FontBold">Home</span>
                </div>
            </div>
        </div>
    </div>



    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card colorbox colorbox-2">
            <div class="ui-g-4">
                <a [routerLink]="['/languages/list']">
                    <i class="material-icons">storage</i>
                </a>
            </div>
            <div class="ui-g-8" style="height: 100px; padding-top: 10px;">
                <span class="colorbox-name">Lingue</span>
                <div class="EmptyBox10"></div>
                <span class="colorbox-count">&nbsp;</span>
                <div class="EmptyBox5"></div>
            </div>
        </div>
    </div>

</div>