<p-messages [(value)]="msgs" closable="false"></p-messages>

<div class="ui-g">
    <p-confirmDialog header="Conferma" icon="fa fa-question-circle" acceptLabel="Sì" rejectLabel="No" #cd></p-confirmDialog>
    <div class="ui-g-12">
        <div class="card">
            <div class="ui-g">
                <div class="ui-g-12">
                    <span class="Fs20 Blue FontBold">Lista Dizonari Multilingua</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="card" style="margin-bottom: 0px !important; min-height: calc(100vh - 152px)">
            <div class="ui-g-12">


                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Lingua</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="service.search.obj.language">
                        </div>
                    </div>
                </div>

                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Chiave</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="service.search.obj.key">
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Valore</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="service.search.like.value">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 TexAlCenter">
                <button type="button" pButton icon="pi pi-search" label="Cerca"
                        (click)="reload(table)"></button>
            </div>
            <div class="ui-g-12">
                <p-table [value]="model" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [paginator]="true"
                         [responsive]="true" [rows]="service.search.pageSize"
                         [totalRecords]="service.listSize" [resizableColumns]="true" #table>
                    <tr>
                        <td [attr.colspan]="10">
                            Nessun risultato.
                        </td>
                    </tr>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="10">
                                Nessun risultato.
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr class="TexBold">
                            <th class="FontBold" style="background-color: aliceblue !important;">Indice
                            </th>
                            <th [pSortableColumn]="'uuid'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Uuid
                                <p-sortIcon [field]="'uuid'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'language'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Lingua
                                <p-sortIcon [field]="'language'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'key'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Chiave
                                <p-sortIcon [field]="'key'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'value'" pResizableColumn class="FontBold"
                                style="background-color: aliceblue !important;">Valore
                                <p-sortIcon [field]="'value'"></p-sortIcon>
                            </th>
                            <th class="FontBold" style="background-color: aliceblue !important;">Operazioni
                            </th>
                        </tr>


                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td class="RowIndex">{{ rowIndex + 1 }}</td>
                            <td class="ui-resizable-column">{{rowData.uuid}}</td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit == null || elementToEdit.uuid !== rowData.uuid">
                                {{rowData.language}}
                            </td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit != null && elementToEdit.uuid === rowData.uuid">
                                <input class="Wid100" pInputText type="text" [(ngModel)]="elementToEdit.language">
                            </td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit == null || elementToEdit.uuid !== rowData.uuid">
                                {{rowData.key}}
                            </td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit != null && elementToEdit.uuid === rowData.uuid">
                                <input class="Wid100" pInputText type="text" [(ngModel)]="elementToEdit.key">
                            </td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit == null || elementToEdit.uuid !== rowData.uuid">
                                {{rowData.value}}
                            </td>
                            <td class="ui-resizable-column" *ngIf="elementToEdit != null && elementToEdit.uuid === rowData.uuid">
                                <input class="Wid100" pInputText type="text" [(ngModel)]="elementToEdit.value">
                            </td>
                            <td class="Operations"  *ngIf="elementToEdit == null || elementToEdit.uuid !== rowData.uuid">
                                <button type="button" pButton (click)="confirmDelete(rowData)"
                                        icon="pi pi-trash"></button>
                                <button type="button" pButton (click)="editInline(rowData)"
                                        icon="pi pi-pencil"></button>
                            </td>
                            <td class="Operations"  *ngIf="elementToEdit != null && elementToEdit.uuid === rowData.uuid">
                                <button type="button" pButton (click)="cancelEdit()"
                                        icon="pi pi-times"></button>
                                <button type="button" pButton (click)="update(rowData)"
                                        icon="pi pi-save"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="EmptyBox10"></div>

            <div class="ui-g-12">


                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Lingua</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid90" pInputText type="text" [(ngModel)]="element.language">
                        </div>
                    </div>
                </div>

                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Chiave</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.key">
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-3 TexAlRight FontBold">
                            <label>Valore</label>
                        </div>
                        <div class="ui-g-9">
                            <input class="Wid100" pInputText type="text" [(ngModel)]="element.value">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-5 TexAlRight">
                <button type="button" pButton icon="pi pi-save" label="Salva"
                        (click)="save()"></button>
            </div>
            <div class="ui-g-2 TexAlCenter">

            </div>
            <div class="ui-g-5 TexAlLeft">
                <button type="button" pButton icon="pi pi-times" label="Annulla"
                        (click)="undo(null)"></button>
            </div>

        </div>
    </div>
</div>
